[include]
  Path = ~/.config/git/config_default_settings
  Path = ~/.config/git/config_private
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
