*.swp
docker/.docker/.build*
history
nix/nix/netrc
bookmarks
*.log
__pycache__

ranger/.config/ranger/copy_buffer
ciparams.yml
**/systemd/user/default.target.wants/
nvim/.config/nvim/plugin/packer_compiled.lua
.token*
