
priority -50

snippet mbb "Latex math symbol"
\mathbb{${1}}$0
endsnippet

snippet stems "asciimath stem single line"
stem:[${1}] $0
endsnippet

snippet definition "asciimath definition"
${1}::
+
--
${2}
--
${0}
endsnippet

snippet definitionla "asciimath definition loweralpha"
${1}::
+
--
[loweralpha]
. ${2}
--
${0}
endsnippet
