
priority -50

snippet mbb "Latex math symbol"
\mathbb{${1}}$0
endsnippet


snippet ul "Unordered html list"
<ul>
$0
</ul>
endsnippet


snippet lientry "html list entry"
<li>${1:Item}</li>$0
endsnippet
